/**
 * Icon Semantics
 */
@import "http://localhost:8008/bower_components/font-awesome/css/font-awesome.min.css";
/* line 1, cursor.scss */
.auto {
  cursor: auto;
}

/* line 2, cursor.scss */
.default {
  cursor: default;
}

/* line 3, cursor.scss */
.none {
  cursor: none;
}

/* line 4, cursor.scss */
.context-menu, .mobile--toolbar .sidebar-opener {
  cursor: context-menu;
}

/* line 5, cursor.scss */
.help {
  cursor: help;
}

/* line 6, cursor.scss */
.pointer {
  cursor: pointer;
}

/* line 7, cursor.scss */
.progress {
  cursor: progress;
}

/* line 8, cursor.scss */
.wait {
  cursor: wait;
}

/* line 9, cursor.scss */
.cell {
  cursor: cell;
}

/* line 10, cursor.scss */
.crosshair {
  cursor: crosshair;
}

/* line 11, cursor.scss */
.text {
  cursor: text;
}

/* line 12, cursor.scss */
.vertical-text {
  cursor: vertical-text;
}

/* line 13, cursor.scss */
.alias {
  cursor: alias;
}

/* line 14, cursor.scss */
.copy {
  cursor: copy;
}

/* line 15, cursor.scss */
.move {
  cursor: move;
}

/* line 16, cursor.scss */
.no-drop {
  cursor: no-drop;
}

/* line 17, cursor.scss */
.not-allowed {
  cursor: not-allowed;
}

/* line 18, cursor.scss */
.all-scroll {
  cursor: all-scroll;
}

/* line 19, cursor.scss */
.col-resize {
  cursor: col-resize;
}

/* line 20, cursor.scss */
.row-resize {
  cursor: row-resize;
}

/* line 21, cursor.scss */
.n-resize {
  cursor: n-resize;
}

/* line 22, cursor.scss */
.e-resize {
  cursor: e-resize;
}

/* line 23, cursor.scss */
.s-resize {
  cursor: s-resize;
}

/* line 24, cursor.scss */
.w-resize {
  cursor: w-resize;
}

/* line 25, cursor.scss */
.ns-resize {
  cursor: ns-resize;
}

/* line 26, cursor.scss */
.ew-resize {
  cursor: ew-resize;
}

/* line 27, cursor.scss */
.ne-resize {
  cursor: ne-resize;
}

/* line 28, cursor.scss */
.nw-resize {
  cursor: nw-resize;
}

/* line 29, cursor.scss */
.se-resize {
  cursor: se-resize;
}

/* line 30, cursor.scss */
.sw-resize {
  cursor: sw-resize;
}

/* line 31, cursor.scss */
.nesw-resize {
  cursor: nesw-resize;
}

/* line 32, cursor.scss */
.nwse-resize {
  cursor: nwse-resize;
}

/**
 * Mobile Toolbar
 */
/* line 10, style.scss */
.mobile--toolbar {
  position: fixed;
  left: 5%;
  top: 5%;
}
/* line 14, style.scss */
.mobile--toolbar .sidebar-opener {
  border-bottom: none;
}

/**
 * Mobile Sidebar
 */
/* line 23, style.scss */
.mobile--sidebar {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQUlEQVQYlWOwO3X+v92p8/8ZCAGiFWIDD27Y/X9ww46wZqIVYgUV5+3+V5wnQjfRCrGBTzPj/n+aGUdYM9EKsQEAvrAs3dt7J2YAAAAASUVORK5CYII=);
}
/* line 29, style.scss */
.mobile--sidebar img {
  border-bottom: 1px #c1c1c1 solid;
  margin: 0;
  padding: 0;
  display: block;
}
/* line 35, style.scss */
.mobile--sidebar a {
  background: #f9f9f9;
  padding: 1em 0 1em .5em;
  border-bottom: 1px #c1c1c1 solid;
  display: block;
}
/* line 42, style.scss */
.mobile--sidebar .cam .fa {
  margin-right: 1em;
}
